.aboutPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 20px;
}

.longerBio, .experience, .skills{
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 15px;
    height: min-content;
    font-family: Quicksand;
    padding: 10px 30px 
}

